<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= page_title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% list.forEach( (item) => {
        <li>
          <%= item.unittitle %>
        </li>
      }) %>
    </ul>
  </body>
</html>
